@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* ======================== CSS VARIABLE ====================== */
    :root {
        --primary-200: 244, 6, 18;
        --primary-main: 229, 9, 20;
    }
    /* ========================== END HERE ============================== */

    /* ========================= DEFINE NETFLIX SANS FONT ================= */
    @font-face {
        font-family: Netflix Sans;
        src: url('../../assets/fonts/netflix-sans-font/NetflixSans-Regular.otf');
        font-weight: normal;
    }

    @font-face {
        font-family: Netflix Sans;
        src: url('../../assets/fonts/netflix-sans-font/NetflixSans-Bold.otf');
        font-weight: bold;
    }

    @font-face {
        font-family: Netflix Sans;
        src: url('../../assets/fonts/netflix-sans-font/NetflixSans-Light.otf');
        font-weight: 300;
    }

    @font-face {
        font-family: Netflix Sans;
        src: url('../../assets/fonts/netflix-sans-font/NetflixSans-Medium.otf');
        font-weight: 500;
    }
    /* ===================== END HERE ====================== */

    html {
        font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;   
    }

    h1 {
        @apply text-5xl;
        @apply font-bold;
    }

    h2 {
        @apply text-2xl;
        @apply font-bold;
    }

    h3 {
        @apply text-lg
    }

    .btn-red {
        @apply bg-primary-main;
        @apply duration-200;
        @apply ease-in-out;
    }

    .btn-red:hover {
        @apply bg-primary-200;
    }

    .fancy-scroll::-webkit-scrollbar {
        display: none;
    }

    .genre:nth-child(7) {
        @apply blur-[5px];
        @apply pointer-events-none;
    }

    .genre:nth-child(8) {
        @apply blur-[10px];
        @apply pointer-events-none;
    }

    .gradient-blur::before {
        background: linear-gradient(180deg,transparent 0, #181818);
        bottom: 100%;
        content: " ";
        height: 15em;
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0
    }

    .gradient-blur {
        background: #181818;
        bottom: 100px;
    }

    select {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-caret-down' width='24' height='24' viewBox='0 0 24 24' stroke-width='1' stroke='none' fill='grey' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M6 10l6 6l6 -6h-12' /%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: calc(100% - 5px) center !important;
        -moz-appearance:none !important;
        -webkit-appearance: none !important; 
        appearance: none !important;
    }

    select option:checked {
        background: #767676;
        color: white;
    }
}